<div class="container margenes">

    <div class="row">
        <div class="col">
            <h2>Agregar una nueva promoción</h2>
            <form action="/admin/promociones/agregar" method="post">

                <div class="mb-3">
                    <label for="" class="form-label" style="color:wheat">Título</label>
                    <input type="text" class="form-control" name="titulo">
                </div>

                <div class="mb-3">
                    <label for="" class="form-label" style="color:wheat">Subtítulo</label>
                    <textarea class="form-control" rows="2" name="subtitulo"></textarea>
                </div>

                <div class="mb-3">
                    <label for="" class="form-label" style="color:wheat">Cuerpo</label>
                    <textarea class="form-control" rows="6" name="cuerpo"></textarea>
                </div>

                <div class="col-auto"><button type="submit" class="btn btn-primary mb-3">Guardar</button>
                </div>
            </form>

                {{#if error}}
                <p class="error">{{message}}</p>
                {{/if}}
          
        </div>

    </div>

</div>