<main>
        <div class="holder">
            <div class="nuestros-cursos">
                <h2>Nuestros Cursos</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni facilis eum architecto eveniet illo
                    placeat ut. Maxime aliquam, accusantium nesciunt amet quam consectetur, architecto sapiente
                    veritatis
                    hic beatae velit quos! Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>

            <div class="cursos">
                <div class="info">
                    <img src="images/tazacafe (2).png" width="200" alt="café">
                    <h4>Especialista en técnicas de infusión</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, vel veritatis officia, ducimus
                        quod
                        maxime reiciendis blanditiis voluptate quasi animi facere. Quis saepe molestiae magnam libero
                        accusamus animi modi voluptate.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

                    <button>Conocé más</button>

                </div>
            </div>

            <div class="cursos">
                <div class="info">
                    <img src="images/tazacafe (2).png" width="200" alt="café">
                    <h4>Masterclass</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, vel veritatis officia, ducimus
                        quod
                        maxime reiciendis blanditiis voluptate quasi animi facere. Quis saepe molestiae magnam libero
                        accusamus animi modi voluptate.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

                    <button>Conocé más</button>

                </div>
            </div>

            <div class="cursos">
                <div class="info">
                    <img src="images/tazacafe (2).png" width="200" alt="café">
                    <h4>Barista Profesional</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, vel veritatis officia, ducimus
                        quod
                        maxime reiciendis blanditiis voluptate quasi animi facere. Quis saepe molestiae magnam libero
                        accusamus animi modi voluptate.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

                    <button>Conocé más</button>

                </div>
            </div>

        </div>

    </main>