<main>
    <div class="holder">
        <div class="nuestros-cursos">
            <h2>Nuestros Cursos</h2>
            <p>¿Te gustaría aprender a preparar los mejores cafés? ¿Trabajar como Barista Profesional, viajar por el
                mundo y vivir de tu pasión?</p>
        </div>

        <div class="cursos">
            <div class="info">
                <img src="images/tazacafe (2).png" width="200" alt="café">
                <h4>Especialista en técnicas de infusión</h4>
                <p>Existen tres tipos de métodos de extracción: los descendentes –en los que el agua depende totalmente
                    de la gravedad, se vierte en la parte superior y desciende-; los de inmersión completa –el café está
                    completamente en contacto con el agua- y los que combinan ambos tipos de extracción. ¿Querés saber
                    más?</p>

                <button>Conocé más</button>

            </div>
        </div>

        <div class="cursos">
            <div class="info">
                <img src="images/tazacafe (2).png" width="200" alt="café">
                <h4>Masterclass</h4>
                <p>En esta masterclass vas a conocer los 3 obstáculos que te impiden aprender el idioma universal de la
                    cata de café.
                    Como describir los atributos del café.
                    Como evitar los errores comunes durante la preparación del protocolo de la cata.
                    Los pasos para calibrarte con otros catadores y profesionales del sector de café. </p>

                <button>Conocé más</button>

            </div>
        </div>

        <div class="cursos">
            <div class="info">
                <img src="images/tazacafe (2).png" width="200" alt="café">
                <h4>Barista Profesional</h4>
                <p>Nuestro principal Objetivo es que puedas destacarte en todo lo referido al café, de manera práctica
                    para que tu desempeño como barista sea el mejor el más fluido y destacado posible. ¡Aprenderás todo
                    sobre toda su historia, orígenes del café, regiones, suelos, climas,
                    cultivos, latte art, colores en el café, decoraciones, formas en latte art, manejo de
                    utensilios de barista, cafeteras profesionales y mucho más!</p>

                <button>Conocé más</button>

            </div>
        </div>

    </div>

</main>