<main>
    <div class="holder">

        <div class="productos">
            <div class="intro-productos">
                <h2>Productos</h2>
                <p>Productos de calidad distinguida. Café en grano específicamente para tu cafetera. Lorem ipsum dolor
                    sit amet consectetur adipisicing elit. Commodi enim aliquid officiis modi. Porro sequi sit quisquam
                    temporibus! Eum non, esse tempore quaerat quis possimus eos impedit qui officiis culpa.</p>
            </div>

            <div class="producto">
                <img src="images/img bolsa café/3.png" height="180" width="180" alt="café">
                <h4>Café exótico</h4>
                <p>Consultá las variedades y precios. </p>
                <button class="color-botón">
                    <p>Añadir<br>al carrito</p><img src="images/carrito.png" width="20px" height="20px" alt="">
                </button>
            </div>

            <div class="producto">
                <img src="images/img bolsa café/4.png" height="180" width="180" alt="café">
                <h4> Café Italiano </h4>
                <p>1 unidad de Café x 500 g $3.500</p>
                <button class="color-botón">
                    <p>Añadir<br>al carrito</p><img src="images/carrito.png" width="20px" height="20px" alt="">
                </button>
            </div>

            <div class="producto">
                <img src="images/img bolsa café/5.png" height="180" width="180" alt="café">
                <h4> Café Colombia </h4>
                <p>1 unidad de Café x 500 g $3.400</p>
                <button class="color-botón">
                    <p>Añadir<br>al carrito</p><img src="images/carrito.png" width="20px" height="20px" alt="">
                </button>
            </div>

            <div class="producto">
                <img src="images/img bolsa café/6.png" height="180" width="180" alt="café">
                <h4> Combo Café</h4>
                <p> A elección: café grande + cake $800</p>
                <button class="color-botón">
                    <p>Añadir<br>al carrito</p><img src="images/carrito.png" width="20px" height="20px" alt="">
                </button>
            </div>

            <div class="producto">
                <img src="images/img bolsa café/7.png" height="180" width="180" alt="café">
                <h4> Café MOKA</h4>
                <p>1 unidad de Café x 250 g $1500</p>
                <button class="color-botón">
                    <p>Añadir<br>al carrito</p><img src="images/carrito.png" width="20px" height="20px" alt="">
                </button>
            </div>

            <div class="producto">
                <img src="images/img bolsa café/8.png" height="180" width="180" alt="café">
                <h4> Café Brasil </h4>
                <p>1 unidad de Café x 250 g $1500 </p>
                <button class="color-botón">
                    <p>Añadir<br>al carrito</p><img src="images/carrito.png" width="20px" height="20px" alt="">
                </button>
            </div>

        </div>

    </div>

</main>