<main>
    <div class="holder">
        <div class="grid-contenedor">
            <div class="item1">
                <h2>Cada taza de café tiene una historia para contar...</h2>
                <p> Queremos acompañarte en cada momento de tu día. Hacé de cada momento algo especial, para vos, y para
                    los que te rodean.
                    Aromas, historias, miradas... todo se une en una combinación casi perfecta.<br>
                    No dejes de sumergirte en esta cálida experiencia.<br>
                    El café nos conecta... ♥ ¿Y vos, querés un café? ♥

                </p>
                <div>
                    <img src="images/imagencafes.webp" alt="café" height="350">

                </div>
                <p> El Caldero Humeante te ofrece distintas variedades de café, todas elaboradas con la mejor materia
                    prima.
                    ¿Hoy cuál vas a elegir?.
                </p>
            </div>

            <div class="item2">
                <h3>Aprendé de los expertos con las mejores recetas y consejos</h3>
                <p>Desde una simple tarta hasta el famoso café dalgona, a un flan o unas trufas. Esta bebida
                    también protagoniza recetas saladas, que podés conocer en esta selección que compartimos para vos...
                </p>
                <button>Conocé más</button>
            </div>

            <div class="item3">
                <h3>Entrá y enterate de los 5 mejores consejos para elegir un buen café</h3>
                <p> ¿Sabés de qué está compuesto el famoso café torrado? ¿Café tostado o torrado? ¿Qué información nos
                    brinda el brillo del café? Esto y mucho más, entrá y conoce todos sus secretos...</p>
                <button>Conocé más</button>
            </div>

            <div class="item4">
                <h2>EL MEJOR CAFÉ EN TU HOGAR. DISFRUTALO </h2>

                <!-- Slideshow container -->
                <div class="slideshow-container">

                    <!-- Full-width images with number and caption text -->
                    <div class="mySlides fade">
                        <div class="numbertext"></div>
                        <img src="images/café.jpg" style="width:100%" height="300px">
                        <div class="text"></div>
                    </div>

                    <!-- <div class="mySlides fade">
                            <div class="numbertext"></div>
                            <img src="/img/fondomadera.png" style="width:100%" height="300px">
                            <div class="text"></div>
                        </div> -->

                    <div class="mySlides fade">
                        <div class="numbertext"></div>
                        <img src="images/fondoarpillera.webp" style="width:100%" height="300px">
                        <div class="text"></div>
                    </div>

                    <!-- Next and previous buttons -->
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                </div>
                <br>

                <!-- The dots/circles -->
                <div style="text-align:center">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <!-- <span class="dot" onclick="currentSlide(3)"></span> -->
                </div>
                <p>"Una taza de café, <br>un sinfín de historias"</p>
            </div>

            <div class="item5">
                <img src="images/bestcoffee.png" alt="">
            </div>

        </div>

        <script src="/javascripts/carousel.js"></script>
</main>