<main>
        <div class="holder">

            <section class="staff">
                <h2>STAFF</h2>
                <p>Te presentamos al staff de "El Caldero Humeante". Nuestro equipo de profesionales trabaja día a día para
                    brindarte la mejor antención. Siempre a tu disposición.   </p>
            </section>
            <div class="personas">
                <div class="persona">
                    <img src="images/img nosotros/nosotros.png" width="140" height="160" alt="café">
                    <img src="images/decorado.png" width="100px" alt="café">
                    <h5>Fernando Gómez</h5>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam quo, vel suscipit voluptate
                        saepe nihil corrupti error aperiam! Facere quia dolore quidem dolores architecto.
                    </p>
                </div>

                <div class="persona">
                    <img src="images/img nosotros/nosotros1.png" width="140" height="160" alt="café">
                    <img src="images/decorado.png" width="100px" alt="café">
                    <h5>Damián <br>Torres</h5>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam quo, vel suscipit voluptate
                        saepe nihil corrupti error aperiam! Facere quia dolore quidem dolores architecto.
                    </p>
                </div>


                <div class="persona">
                    <img src="images/img nosotros/nosotros4.png" width="140" height="160" alt="café">
                    <img src="images/decorado.png" width="100px" alt="café">
                    <h5>Ángela Rodríguez</h5>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam quo, vel suscipit voluptate
                        saepe nihil corrupti error aperiam! Facere quia dolore quidem dolores architecto.
                    </p>
                </div>



                <div class="persona">
                    <img src="images/img nosotros/nosotros3.png" width="140" height="160" alt="café">
                    <img src="images/decorado.png" width="100px" alt="café">
                    <h5>María Fernández</h5>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam quo, vel suscipit voluptate
                        saepe nihil corrupti error aperiam! Facere quia dolore quidem dolores architecto.
                    </p>
                </div>


                <div class="persona">
                    <img src="images/img nosotros/nosotros5.png" width="140" height="160" alt="café">
                    <img src="images/decorado.png" width="100px" alt="café">
                    <h5>Selene Silverstein </h5>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam quo, vel suscipit voluptate
                        saepe nihil corrupti error aperiam! Facere quia dolore quidem dolores architecto.
                    </p>
                </div>



            </div>

    </main>