<main>
    <div class="holder">

        <section class="staff">
            <h2>STAFF</h2>
            <p>Te presentamos el staff de "El Caldero Humeante". Nuestro equipo de profesionales trabaja día a día para
                brindarte la mejor antención. Recibirás una cálida bienvenida y asesoramiento personalizado. Ante
                cualquier duda o inquietud estamos a tu disposición, siempre. </p>
        </section>
        <div class="personas">
            <div class="persona">
                <img src="images/img nosotros/nosotros.png" width="140" height="160" alt="café">
                <img src="images/decorado.png" width="100px" alt="café">
                <h5>Fernando Gómez</h5>
                <p>
                    Barista profesional. Con más de 10 años de experiencia en el rubro. Hábil para el trabajo en
                    equipo. Posee pasión por el buen café y los clientes satisfechos.
                </p>
            </div>

            <div class="persona">
                <img src="images/img nosotros/nosotros1.png" width="140" height="160" alt="café">
                <img src="images/decorado.png" width="100px" alt="café">
                <h5>Damián <br>Torres</h5>
                <p>
                    Profesional con experiencia en atención al cliente, experto en utilizar los conocimientos del sector
                    del café para gestionar con éxito las tareas propias de este sector que tanto nos caracteriza.
                </p>
            </div>


            <div class="persona">
                <img src="images/img nosotros/nosotros4.png" width="140" height="160" alt="café">
                <img src="images/decorado.png" width="100px" alt="café">
                <h5>Ángela Rodríguez</h5>
                <p>
                    Gerenta experimentada y motivada, con gran pasión por la gestión. Orientada
                    a los resultados, con un historial probado de trabajo en equipo para lograr la consecución de
                    objetivos.
                </p>
            </div>



            <div class="persona">
                <img src="images/img nosotros/nosotros3.png" width="140" height="160" alt="café">
                <img src="images/decorado.png" width="100px" alt="café">
                <h5>María Fernández</h5>
                <p>
                    Directora de marketing con más de 7 años de experiencia desarrollando estrategias de contenido para
                    América latina.
                </p>
            </div>


            <div class="persona">
                <img src="images/img nosotros/nosotros5.png" width="140" height="160" alt="café">
                <img src="images/decorado.png" width="100px" alt="café">
                <h5>Selene Silverstein </h5>
                <p>
                    Profesional del servicio de atención al cliente comprometida y experimentada con varios años de
                    experiencia trabajando en entornos de servicio de atención al cliente. 
                </p>
            </div>



        </div>

</main>