<div class="promociones">
    <h2>Promociones</h2>
    {{#each promociones}}
    <div>
        <h3>{{titulo}}</h3>
        <h4>{{subtitulo}}</h4>
        <p>{{cuerpo}}</p>
        <hr />
    </div>
    {{/each}}

</div>